.bgBehind{
  background-color: #EFFFFD;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgFront{
  height: 90vh;
  max-height: 768px;
  overflow-y: scroll;
  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.4)
}

.menu {
  height: 90vh;
  max-height: 768px;
  background-color: #F4F5F7;
}

.content {
  height: 90vh;
  max-height: 768px;
  background-color: white;
}